*{
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

body{
  background-color: #1e1e1e;
}

.t-white{
  color: #fff;
}

.pt-0{
  padding-top: 0.5rem;
}

.pt-1{
  padding-top: 1rem;
}

.pt-2{
  padding-top: 2rem;
}

.pt-3{
  padding-top: 3rem;
}

.pt-4{
  padding-top: 4rem;
}

.pr-0{
  padding-right: 0.5rem;
}

.pr-1{
  padding-right: 1rem;
}

.pr-2{
  padding-right: 2rem;
}

.pb-0{
  padding-bottom: 0.5rem;
}

.pb-1{
  padding-bottom: 1rem;
}

.pb-2{
  padding-bottom: 2rem;
}

.pl-0{
  padding-left: 0.5rem;
}

.pl-1{
  padding-left: 1rem;
}

.pl-2{
  padding-left: 2rem;
}

.p-0{
  padding: 0.5rem;
}

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 2rem;
}

.m-0{
  margin: 0.5rem;
}

.m-1{
  margin: 1rem;
}

.mt-0{
  margin-top: 0.5rem;
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mb-0{
  margin-bottom: 0.5rem;
}

.ml-0{
  margin-left: 0.5rem;
}

.ml-1{
  margin-left: 1rem;
}

.ml-2{
  margin-left: 2rem;
}

.hv-55{
  height:60vh;
}

.main-container{
  margin-top:1.5rem;
  margin-left: 1.5rem;
  /* align-items: center; */
  /* justify-content: center; */
}

.container{
  margin: 0 1.5rem;
}

.d-flex{
  display: flex;
}

.main_nav{
  border: 1px solid black;
  border-radius: 3rem;
}

.main_nav ul{
  list-style: none;
}

.main_nav ul li a{
  text-decoration: none;
}

.first-nav{
  padding: 2rem 1rem 1rem 1rem;
}

.last-nav{
  padding: 1rem 1rem 2rem 1rem;
}

.hero{
  height: 50vh;
  width: 50vw;
  background-color: #609aef;
  border-radius: 3rem;
}

.playlist{
  width: 30vw;
  height: 13vh;
  background-color: #1a1e1f;
  border-radius: 1.5rem;
  align-items: center;
}

.out-cov{
  margin-left: 0.85rem;
}

.cover{
  background-color: #d9d9d9;
  width: 63px;
  height: 10vh;
  border-radius: 0.5rem;
}

.like-btn{
  height:40px;
  width: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 1.5rem;
}
